		.menu1{
			height:80px;
			background-color:gold;
			position:relative;
			width:960px;
			top:0px;
			left:50%;
			margin-left:-480px;
			border-radius:30px;
			margin-bottom:20px;
		}
		.menu1 h1{
			text-align:center;
			margin:20px;
		}
		.login{
			list-style:none;
			margin:0px;
			padding:0px;
		}
		.login li{
		    display:inline-block;
			height:30px;
			margin:10px 20px;
			padding:0 10px;
			background-color:cyan;
			opacity:0.5;
			text-align:center;
			line-height:30px;
			border-radius:10px;
		}
		.login a{
			text-decoration:none;
		}
		.con{
			width:900px;
			height:400px;
			margin:50px auto;
			background-color:#FFE4C4;
			/*opacity:0.5;*/
			position:relative;
		}
		.detail_img{
			position:absolute;
			top:20px;
			left:30px;
		}
        .detail_text{
            display:inline-block;
            position:absolute;
            top:20px;
            left:280px;
            padding:10px;
            opacity:50%;
            overflow:hidden;
        }
        #uint{
            display:block;
            width:80px;
            height:30px;
            margin:10px;
            background-color:#F0FFFF;
            border-radius:10px;
            padding:0 10px;
            text-align:center;
            color:#000;
        }
        #count{
            display:block;
        }
        .con input{
            width:40px;
            height:25px;
            text-decoration:none;
        }
        .update_add,.update_decreate{
            display:inline-block;
            margin:10px;
            width:20px;
            height:20px;
            border-radius:10px;
            background:gold;
            text-align:center;
            text-decoration:none;
        }
        #s{
            margin-left:20px;
        }
        .shopping{
            display:block;
            width:80px;
            height:30px;
            margin:20px;
            background-color:#DCDCDC;
            border-radius:10px;
            text-align:center;
            text-decoration:none;
            line-height:30px;
            color:#000;
        }
        .shopping:hover{
            color:red;
        }
		.daohang{
			list-style:none;
			margin:100px auto;
			padding:0px;
			width:958px;
			height:40px;
			border:1px solid #000;
			/*background-color:gold;*/
			text-align:center;
			font-size:0;
		}
		.daohang li{
			display:inline-block;
			font-size:14px;
			height:40px;
		}
		.daohang li a{
			display:block;
			height:40px;
			font:normal 14px/40px 'Microsoft Yahei';
			text-decoration:none;
			color:#000;
		}
		.daohang li span{
			display:block;
			margin:0 30px;
		}
		.daohang li a:hover{
			color:red;
		}