{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}订单页{% endblock %}
{% block topfiles %}
	<link rel="stylesheet" href="{% static 'css/place_order.css' %}">
{% endblock %}
{% block body %}
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
			<dd><input type="radio" name="addr" value="{{addr.id}}">{{addr.addr}} （{{addr.receiver}} 收） {{addr.phone}}</dd>
		</dl>
		<a href="/user/addr" class="edit_site">编辑收货地址</a>
	</div>
	<h3 class="common_title">商品列表</h3>

	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
		{% for cake in cakes %}
		{% csrf_token %}
		<ul class="goods_list_td clearfix">
			<li class="col01" id="{{ cake.id }}">{{ cake.id }}</li>
			<li class="col02"><img src="{{ cake.image.url }}"></li>
			<li class="col03">{{ cake.name }}</li>
			<li class="col04">{{ cake.unit }}</li>
			<li class="col05">{{ cake.price }}元</li>
			<li class="col06">{{ cake.count }}</li>
			<li class="col07">{{ cake.amount }}元</li>
			<p id="cake_ids" class="{{ cake.id }}"></p>
		</ul>
		{% endfor %}
	</div>

	<h3 class="common_title">总金额结算</h3>
	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>{{ total_count }}</em>件商品，总金额<b>{{ total_price }}元</b></div>
			<div class="transit">运费：<b>0元</b></div>
			<div class="total_pay">实付款：<b>{{ total_price }}</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">commit order</a>
	</div>	
{% endblock %}
{% block bottomfiles %}
	<script>
		$(function(){
			$("#order_btn").click(function(){
				//get params
				addr_id=$("input[name='addr']").val()

				csrf_token=$('input[name="csrfmiddlewaretoken"]').val()

				params={
					"addr_id":addr_id,
					"csrfmiddlewaretoken":csrf_token
				}
				$.post("/order/create",params,function(data){
					if (data.res==0){
						alert("success")
						window.location.href="/user/order/1"
					}
					else{
						alert(data.errmsg)
					}
				})
			})
		})
	</script>
{% endblock %}